.constructionDetails {
  background-color: #e6decc;
}

.homes {
  background-color: #e6decc;
  .section1 {
    margin-bottom: 25px;
    .mainLeft {
      background-color: #fff;
      box-shadow: 0 0 12px #d0d0d0;
      margin: 30px -60px 0 0;
      padding: 28px;
      position: relative;
      z-index: 12;
      height: fit-content;

      .mainTitleCont {
        margin-bottom: 15px;
        h3 {
          font-weight: 600;
          font-size: 2.5rem;
        }
        h3::after {
          content: "";
          background-color: #721616;
          position: absolute;
          width: 165px;
          height: 4px;
          left: 3%;
          bottom: 0;
        }
      }

      .mainDescription {
        p {
          font-size: 1.5rem;
          a {
            color: #a04030;
            text-decoration: none;
            font-weight: bold;
          }
          a:hover {
            color: #ff0000;
            text-decoration: none;
          }
        }
      }
    }

    .mainRight {
      img {
        width: 100%;
        border: solid 10px #ffffff;
        box-shadow: 0 0 30px #414141;
      }
    }
  }
  .section2 {
    margin-bottom: 25px;
    .card {
      border: 22px solid #bdcac2;
      padding: 40px 15px;
      height: 100%;

      .imgCont {
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      a {
        color: #a04030;
        text-decoration: none;
        font-weight: bold;
      }
      a:hover {
        color: #ff0000;
        text-decoration: none;
      }
    }

    p {
      margin-top: 25px;
      margin-left: 15%;
      margin-right: 15%;
      text-align: center;
      font-size: 1.5rem;
    }
  }

  .section3 {
    padding-bottom: 25px;
    span {
      text-align: center;
      font-weight: 600;
      font-size: 1.5rem;
      display: block;
    }
    p {
      font-size: 1.5rem;
    }
    .imgCont {
      margin: 10px;
      background-color: #d7d7d7;
      padding: 15px;
      img {
        width: 100%;
      }
    }
  }
}

.traditional {
  background-color: #e6decc;
  .section1 {
    background-color: #e6decc;
    padding: 50px;
    .leftCont {
      h3 {
        font-weight: 900;
        font-size: 3rem;
      }
      p {
        font-size: 1.4rem;
        a {
          color: #a04030;
          text-decoration: none;
          font-weight: bold;
        }
        a:hover {
          color: #ff0000;
          text-decoration: none;
        }
      }
    }

    .rightCont {
      .mainImgCont {
        text-align: left;
        position: relative;
        padding: 50px;
        img {
          border: solid 10px #ffffff;
          box-shadow: 0 0 30px #414141;
          z-index: 9;
          position: relative;
          width: 100%;
        }
      }
      .mainImgCont::after {
        position: absolute;
        background-color: #226a6e;
        right: 0;
        top: 0;
        width: 40%;
        height: 100%;
        content: "";
      }
    }
  }

  .section2 {
    background-color: #bdcac1;
    padding: 50px;
    .box {
      margin: 10px;
      img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      span {
        margin-top: 10px;
        font-weight: 600;
        font-size: 1.2rem;
        display: block;
        text-align: center;
      }
    }
  }
}

.logSpecies {
  background-color: #e6decc;
  .section1 {
    padding: 2%;
    .leftCont {
      .mainImgCont {
        text-align: left;
        position: relative;
        padding: 50px;
        img {
          border: solid 10px #ffffff;
          box-shadow: 0 0 30px #414141;
          z-index: 9;
          position: relative;
          width: 100%;
        }
      }
      .mainImgCont::before {
        position: absolute;
        background-color: #591540;
        left: 0;
        top: 0;
        width: 43%;
        height: 100%;
        content: "";
      }
    }

    .rightCont {
      h3 {
        font-weight: 900;
        font-size: 3em;
      }
      p {
        font-size: 1.4em;
      }
    }
  }
  .section2 {
    background-color: #bdcac1;
    padding: 5%;
    margin-left: 15px;
    margin-right: 15px;
    .card {
      margin: 10px;
      img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h4 {
        margin-top: 10px;
        font-weight: 900;
        font-size: 2rem;
        display: block;
        text-align: center;
      }
      p {
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
  }
}
