.redirectBtnCont {
  .redirectBtn {
    border-radius: 30px;
    font-size: 120%;
    color: black;
    font-weight: 900;
    background-color: #fbc02d !important;
    text-transform: none;
  }

  .redirectBtn:hover {
    background-color: black !important;
    color: #fff !important;
  }
}

.nextBtn {
  overflow: auto;
  font-family: "Candara";
  .nextBtnCont {
    float: right;
    margin: 3%;
    display: flex;
    align-items: center;

    .label {
      font-size: 2.2rem;
      font-weight: 900;
      color: #7e0e0e;
      margin-bottom: 10px;
    }

    .arrow {
      cursor: pointer;
      font-size: 1.5em;
      font-weight: 700;
      margin-left: 10px;
      background-size: 100% 100%;
      padding: 30px 40px 48px 25px;
      color: black;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
    }
  }
}


.projectCarouselRightBtn,
.projectCarouseLeftBtn {
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    top: 40%;
    z-index: 10;

    img {
        width: 90%;
    }
}

.projectCarouseLeftBtn {
    left: -2%; 
}

.projectCarouselRightBtn {
    right: -2%;
}

.carouselRightBtn,
.carouseLeftBtn {
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    top: 35%;
    z-index: 999;

    img {
      height: 50px;
    }
}


.yellowRoundeBtn {
  border-radius: 25px;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  background-color: #fbc02d !important;
  box-shadow: 0px 9px 4px #b5b5b5;
}
.yellowRoundeBtn:hover {
  background-color: black !important;
  color: #fff !important;
}

.carouseLeftBtn {
    left: 0; 
}

.carouselRightBtn {
    right: 0;
}


