
.contactPage {
  background-color: #e6decc;
  .inputBox {
    height: 30px;
    box-shadow: 3px 3px 6px #656565;
    border: 1px solid #656565;
  }

  label {
    font-size: 0.9rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  input {
    font-family: "Roboto";
    width: 100%;
  }

  select {
    font-family: "Roboto";
    width: 100%;
  }

  textarea {
    font-family: "Roboto";
    width: 100%;
    min-height: 300px;
  }

  .submitBtn {
    :global(.btn-red) {
      color: white;
      font-weight: 700;
    }
  }

  .header {
    font-size: 3rem;
    font-weight: 500;
    font-family: "Candara Bold";
    text-decoration: underline solid gray;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
  }

  .contactNo {
    text-align: right;
    font-size: 2.5rem;
  }

  .icon {
    margin-right: 1%;
    display: inline-block;
    vertical-align: bottom;
    img {
      width: 70px;
      height: auto;
    }
  }

  .subHeader1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #668671;
    font-family: "FelixTitling";
  }

  .subHeader2 {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Candara Bold";
  }

  .borderBtm {
    border-bottom: solid #668671;
  }

  .socMed {
    display: flex;
    .cont {
      padding-left: 3%;
      width: 20%;
      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 767.98px) {
    .header {
      font-size: 1rem;
    }
    .subHeader1 {
      margin-top: 5%;
      font-size: 0.9rem;
    }
    .contactNo {
      font-size: 0.9rem;
    }
    .icon {
      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}
